<h1>Beautician App</h1>

<div class="jumbotron">
    <h1>Theme example</h1>
    <div class="alert alert-success" role="alert" ng-show="vm.testResult"><em>Profile Test</em>: succeeded</div>
    <div class="alert alert-danger" role="alert" ng-show="!vm.testResult"><em>Profile Test</em>: FAILED</div>
    <p>This is a template showcasing the optional theme stylesheet included in Bootstrap. Use it as a starting point to create something more unique by building on or modifying it.</p>
    <button type="button" class="btn btn-info" ng-click="vm.testAuth()">Test Auth</button>
</div>
